@model MvcTutorial.Models.View_Models.FeedbackViewModel

@{
    ViewData["Title"] = "Session d'étude";
}

<h1>@Model.question</h1>
<h2>Vous avez répondu @Model.usersAnswer</h2>
@{ 
    if (Model.correctAnswer == Model.usersAnswer)
    {
        <h2>Correct!</h2>
    }
    else
    {
        <h2>Bonne réponse: @Model.correctAnswer</h2>
    }
}

<form action="NextQuestion" method="post">
    <input type="hidden" name="sessionKey" value="@Model.sessionKey.ToString()" />
    <input type="submit" value="Prochaine question" />
</form>
