<div class="box cropToCenter">
    <h2>Les hiraganas</h2>
    <p>
        Les hiraganas sont un groupe de 46 caractères.<br />
        Ce sont les caractères les plus simples: ils ont une seule prononciation, et s'écrivent en quelques traits.<br />
        <br />
        Nous avons séparé les hiraganas en 10 exercices.<br />
        Si vous n'avez jamais vu les hiraganas auparavant, commencez avec la série #1.<br />
    </p>
</div>
<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-auto h2">あ　い　う　え　お</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-a">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">か　き　く　け　こ</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-ka">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">さ　し　す　せ　そ</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-sa">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">た　ち　つ　て　と</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-ta">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">な　に　ぬ　ね　の</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-na">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">は　ひ　ふ　へ　ほ</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-ha">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">ま　み　む　め　も</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-ma">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">や　　　ゆ　　　よ</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-ya">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">ら　り　る　れ　ろ</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-ra">Apprendre</a>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto h2">わ　　　　　　　を</div>
        <a class="btn btn-outline-primary" asp-controller="Study" asp-action="StartStudy" asp-route-topicCode="h-wa">Apprendre</a>
    </div>
</div>