<table class="box kanaIndex">
    <tbody>
        <tr>
            <th><div class="romaji">Série</div></th>
        </tr>
        @{
            string[,] values = new string[,]
            {
            { "A", "あいうえお　ん", "h-a" },
            { "Ka", "かきくけこ", "h-ka" },
            { "Ya", "や　ゆ　よ", "h-ya" },
            { "Sa", "さしすせそ", "h-sa" },
            { "Ta", "たちつてと", "h-ta" },
            { "Na", "なにぬねの", "h-na" },
            { "Ha", "はひふへほ", "h-ha" },
            { "Ma", "まみむめも", "h-ma" },
            { "Ra", "らりるれろ", "h-ra" },
            { "Wa", "わ　　　を", "h-wa" },
            };

            for (int i = 0; i < values.GetLength(0); i++)
            {
                <tr>
                    <th><div class="romaji">@values[i, 0]</div></th>
                    <td class="kana">@values[i, 1]</td>
                    <td>
                        <form action="StartStudy" method="post">
                            <input type="hidden" name="topicCode" value="@values[i, 2]" />
                            <input type="submit" value="Apprendre" class="indexInput" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>