@{
    ViewData["Title"] = "Étudier";
}

<h1>Commencez votre étude</h1>


<div>
    <table class="centered-table">
        <tbody>
            <tr>
                <th>Hiragana</th>
                <th>Katakana</th>
            </tr>
            <tr>
                <td>
                    <p>La première étape pour apprendre à lire et écrire.</p>
                    <p>Ces 46 caractères vous permettent d'écrire n'importe quel son japonais.</p>
                    <p>Mémorisez ces symboles entre 1 ou 2 heures.</p>
                    <partial name="Hiragana" />
                </td>
                <td>
                    <p>La deuxième étape.</p>
                    <p>Comme les hiraganas, ces 48 caractères permettent d'écrire n'importe quel son.</p>
                    <p>Poursuivez votre apprentissage du japonais en apprenant ces caractères.</p>
                    <partial name="Katakana" />
                </td>
            </tr>
        </tbody>
    </table>
</div>


