:root {
    --background-color: #121212;
    --text-light: hsla(0, 100%, 100%, 0.87);
    --text-dark: black;
    --primary: #00796b;
    --primary-light: #48a999;
    --primary-dark: #004a3f;
    --secondary: #b71c1c;
    --secondary-light: #f05545;
    --secondary-dark: #7f0000;

    --layer1: hsla(0, 100%, 100%, 0.05);
    --layer2: hsla(0, 100%, 100%, 0.07);
    --layer3: hsla(0, 100%, 100%, 0.08);
}

body {
    font-family: roboto;
    height: 100vh;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-light);
}

a:visited{
    color: var(--text-light)
}

/*#region Generic styles*/
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
button {
    color: var(--text-light);
    background-color: var(--primary);
    font-size: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}
.relative {
    position: relative;
}
.floatLeft {
    float: left;
}
.centered {
    text-align: center;
}

.vertical {
    display: flex;
    align-content: center;
}
.cropToCenter {
    max-width: max-content;
    margin: auto;
}
.displayNone {
    display: none;
}
/*#endregion*/

/*#region Header / Footer*/
header {
    margin-bottom: 10px;
}
nav a {
    background-color: var(--primary);
    color: var(--text-light);
    text-decoration: none;
    padding: 10px;
    display: block;
}
nav a:hover {
    background-color: var(--primary-light);
    color: var(--text-dark);
}
.tabMenu {
    margin: 0;
    padding: 0;
}
.tabMenu li {
    float: left;
    list-style: none;
}
footer {
    margin-top: auto;
    padding-bottom: 15px;
}
/*#endregion*/

/*#region Index styles*/
.box {
    color: var(--text-light);
    background-color: var(--layer1);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}
.mainTable {
    margin: auto;
    border-spacing: 15px;
}
.kanaPanel {
    margin: 10px;
    margin-right: 50px;
}
.kanaPanel p{
    margin: 0;
    font-size: 60px;
}
.aBox {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    float: right;
}
/*#endregion*/

/*#region Study index styles*/
.box.kanaIndex .romaji{
    font-size: 20px;
    margin-right: 15px;
}
.box.kanaIndex .kana{
    font-size: 30px;
}
.box.kanaIndex .indexInput{
    color: var(--text-light);
    background-color: var(--secondary);
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    margin-left: 25px;
}
/*#endregion*/

/*#region Question styles*/
.questionBox {
    background-color: var(--layer1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.questionBox .kana {
    font-size: 100px;
    font-style: normal;
    margin: 0px;
    text-align: center;
}
.questionText {
    font-size: 60px;
    font-style:normal;
    margin: 0px;
    text-align: center;
}
.answerBox {
    background-color: var(--layer1);
    padding: 20px;
    border-radius: 10px;
}
.feedbackBox {
    background-color: var(--layer1);
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    display: none;
}
.studyCompleteBox {
    background-color: var(--layer1);
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    display: none;
}
/*#endregion*/

/*#region Tutorial styles*/
.tutorialBox {
    background-color: var(--layer1);
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    width: max-content;
    margin: auto;
}
.tutorialBox .paddedForButton{
    position: relative;
    padding-bottom: 40px;
}
.tutorialBox button{
    position: absolute;
    right: 0;
    bottom: 0;
}
.tutorialBox .kana td{
    font-size: 60px;
    padding: 20px;
}
.tutorialBox .romaji td{
    font-size: 30px;
    padding: 20px;
    text-align: center;
}
.tutorialBox h2{
    text-align: center;
}
.tutorialBox p{
    margin-top: 15px;
}
.tutorialKana {
    font-size: 225px;
    padding-left: 40px;
    padding-right: 40px;
}
.tutorialRomaji {
    font-size: 100px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Times New Roman', Times, serif;
}
/*#endregion*/
