<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body class="col-10 col-xl-8">
    <header>
        <nav>
            <div>
                <ul class="tabMenu">
                    <li>
                        <a asp-controller="Home" asp-action="Index">Accueil</a>
                    </li>
                    <li>
                        <a asp-controller="Study" asp-action="Hiragana">Hiragana</a>
                    </li>
                    <li>
                        <a asp-controller="Study" asp-action="Katakana">Katakana</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2021 - Apprenons les kanas - <a asp-area="" asp-controller="Home" asp-action="About" class="colored-link">À propos</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
