@{
    ViewData["Title"] = "À propos";
}
<h1>@ViewData["Title"]</h1>
<p class="cropToCenter">
    Ce site web est un projet étudiant.
</p>
<br />

<div>
    <div class="box cropToCenter">
        <h3>Développé avec:</h3>
        <p>
            - ASP.NET MVC: <a href="https://dotnet.microsoft.com/apps/aspnet/mvc" class="colored-link">https://dotnet.microsoft.com/apps/aspnet/mvc</a> <br />
            - JQuery: <a href="https://jquery.com/" class="colored-link">https://jquery.com/</a> <br />
            <br />
            Hébergé sur Azure Websites: <a href="https://azure.microsoft.com/en-ca/" class="colored-link">https://azure.microsoft.com/en-ca/</a> <br />
        </p>
    </div><br /><br />

    <div class="box cropToCenter">
        <h3>Ressources utilisés:</h3>
        <p>
            <a href="https://commons.wikimedia.org/wiki/Hiragana" class="colored-link">Animations de traits des hiraganas</a> par <b>Sirgazil</b> <br />
        </p>
    </div><br /><br />

    <div class="box cropToCenter">
        <h3>Politique de confidentialité</h3>
        <p>
            Nous ne stockons pas vos données. <br />
            <br />
            Je ne sais pas comment placer des cookies, ni comment demander votre adresse courrielle. <br />
            Contactez-moi à pime2121@gmail.com pour toute question. <br />
        </p>
    </div><br /><br />
</div>