@{
    ViewData["Title"] = "Home Page";
}
@{ 
    ViewData["Title"] = "Apprenons les kanas";
}

<div>
    <h1>Apprenons les kanas!</h1>
</div>
<div>
    <table class="centered-table box">
        <tbody>
            <tr>
                <th>
                    <p>Les «kanas» sont les caractères fondamentaux du japonais. On les sépare en deux catégories: <b>hiraganas</b> et <b>katakanas</b>.</p>
                    <p>Apprenez la base de l'écriture en japonais en l'espace de quelques heures.</p>
                </th>
            </tr>
        </tbody>
    </table>
</div>
