@{ 
    ViewData["Title"] = "Apprendre les kanas";
}

<div>
    <h1>Apprenons les kanas!</h1>
    <h3>Un site pour apprendre à lire et écrire le japonais, à partir de zéro.</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="card text-bg-dark h-100">
                <div class="card-body">
                    <h1 class="card-title">Hiragana</h1>
                    <p class="card-text">La première étape pour apprendre à lire et écrire.</p>
                </div>
                <a asp-controller="Study" asp-action="Hiragana" class="btn btn-primary">Apprendre</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-bg-dark h-100">
                <div class="card-body">
                    <h1 class="card-title">Katakana</h1>
                    <p class="card-text">Le deuxième « alphabet » utilisé en japonais.</p>
                </div>
                <a asp-controller="Study" asp-action="Katakana" class="btn btn-primary">Apprendre</a>
            </div>
        </div>
    </div>
</div>
