@{
    ViewData["Title"] = "Politique de confidentialité";
}
<h1>@ViewData["Title"]</h1>

<p>Nous ne stockons pas vos données.</p>
<br />
<p>Ce site web est un projet étudiant. Je ne sais pas comment placer des cookies, ni comment demander votre adresse courrielle.</p>
<p>Contactez-moi à pime2121@gmail.com pour toute question.</p>
