<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ha</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères à mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>は</td>
                    <td>ひ</td>
                    <td>ふ</td>
                    <td>へ</td>
                    <td>ほ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>ha</td>
                    <td>hi</td>
                    <td>fu</td>
                    <td>he</td>
                    <td>ho</td>
                </tr>
                <tr></tr>
                <tr class="kana">
                    <th></th>
                    <td>ば</td>
                    <td>び</td>
                    <td>ぶ</td>
                    <td>べ</td>
                    <td>ぼ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>ba</td>
                    <td>bi</td>
                    <td>bu</td>
                    <td>be</td>
                    <td>bo</td>
                </tr>
                <tr class="kana">
                    <th></th>
                    <td>ぱ</td>
                    <td>ぴ</td>
                    <td>ぷ</td>
                    <td>ぺ</td>
                    <td>ぽ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>pa</td>
                    <td>pi</td>
                    <td>pu</td>
                    <td>pe</td>
                    <td>po</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial', 'questions')">Suivant</button>
    </div>
</div>
