<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ta</h1>
    @{
        string[,] kanas = {
            { "た", "Ta", "https://upload.wikimedia.org/wikipedia/commons/9/9a/Hiragana_%E3%81%9F_stroke_order_animation.gif" },
            { "ち", "Chi", "https://upload.wikimedia.org/wikipedia/commons/3/32/Hiragana_%E3%81%A1_stroke_order_animation.gif" },
            { "つ", "Tsu", "https://upload.wikimedia.org/wikipedia/commons/0/08/Hiragana_%E3%81%A4_stroke_order_animation.gif" },
            { "て", "Te", "https://upload.wikimedia.org/wikipedia/commons/1/15/Hiragana_%E3%81%A6_stroke_order_animation.gif" },
            { "と", "To", "https://upload.wikimedia.org/wikipedia/commons/6/6e/Hiragana_%E3%81%A8_stroke_order_animation.gif" },
            };
        ViewData["kanas"] = kanas;
        <partial name="KanaTutorial.cshtml" view-data="ViewData" />
    }

    <div id="recap" class="hiddenBox">
        <h2>En résumé</h2>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>た</td>
                    <td>ち</td>
                    <td>つ</td>
                    <td>て</td>
                    <td>と</td>
                </tr>
                <tr class="romaji">
                    <th>En alphabet latin:</th>
                    <td>ta</td>
                    <td>chi</td>
                    <td>tsu</td>
                    <td>te</td>
                    <td>to</td>
                </tr>
                <tr></tr>
                <tr class="kana">
                    <th></th>
                    <td>だ</td>
                    <td>ぢ</td>
                    <td>づ</td>
                    <td>で</td>
                    <td>ど</td>
                </tr>
                <tr class="romaji">
                    <th>En alphabet latin:</th>
                    <td>da</td>
                    <td>dji</td>
                    <td>dzu</td>
                    <td>de</td>
                    <td>do</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('recap', 'notes-1')">Suivant</button>
    </div>

    <div id="notes-1" class="hiddenBox">
        <p>
            Une fois de plus, nous avons des prononciations irrégulières.<br />
            Ici 'chi' se prononce comme dans le mot 'cheese'.<br />
        </p>
        <p>
            Notez que ぢ et づ sont des exceptions plutôt rares.<br />
            Dépendament du locuteur, ils sont parfois prononcés exactement comme じ et ず.<br />
            Ils apparaissent dans des verbes commes ちぢむ et つづく.<br />
        </p>
        <p>
            ちゃ se prononce 'cha', comme le mot 'channel' en anglais.<br />
            ぢゃ n'est jamais utilisé.<br />
        </p>
        <button onclick="nextTutorial('notes-1', 'notes-2')">Suivant</button>
    </div>

    <div id="notes-2" class="hiddenBox">
        <h2>Le petit っ</h2>
        <p>
            Le つ apparait parfois en minuscule.<br />
            Dans ce cas, il n'a pas de son. Cependant, il 'double' la prochaine voyelle.<br />
            Par exemple, かっこう se prononce 'kakkou'.<br />
            てってい se prononce 'tettei'.<br />
        </p>
        <p>
            Lorsqu'on prononce un consonne doublée, on entend une petite 'pause' entre le deux sons.<br />
            En fait, il serait plus juste de dire que l'interlocuteur 'prépare' la prochaine consonne.<br />
            La bouche prend la forme du prochain son, mais on attend une fraction de seconde avant de le prononcer.<br />
        </p>
        <p>
            Nous vous conseillons bien entendu d'écouter du japonais pour bien comprendre ce phénomène.<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
