<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - Les voyelles</h1>
    @{
        string[,] kanas = {
            { "あ", "A", "https://upload.wikimedia.org/wikipedia/commons/d/d8/Hiragana_%E3%81%82_stroke_order_animation.gif" },
            { "い", "I", "https://upload.wikimedia.org/wikipedia/commons/c/cf/Hiragana_%E3%81%84_stroke_order_animation.gif" },
            { "う", "U", "https://upload.wikimedia.org/wikipedia/commons/7/7f/Hiragana_%E3%81%86_stroke_order_animation.gif" },
            { "え", "E", "https://upload.wikimedia.org/wikipedia/commons/4/4f/Hiragana_%E3%81%88_stroke_order_animation.gif" },
            { "お", "O", "https://upload.wikimedia.org/wikipedia/commons/7/7b/Hiragana_%E3%81%8A_stroke_order_animation.gif" },
            { "ん", "N", "https://upload.wikimedia.org/wikipedia/commons/f/f6/Hiragana_%E3%82%93_stroke_order_animation.gif" },
        };
        ViewData["kanas"] = kanas;
        <partial name="KanaTutorial.cshtml" view-data="ViewData"/>
    }

    <div class="relative paddedForButton">
        <div id="recap" class="displayNone">
            <div id="recap-table">
                <h2>En résumé</h2>
                <table>
                    <tbody>
                        <tr class="kana">
                            <th></th>
                            <td>あ</td>
                            <td>い</td>
                            <td>う</td>
                            <td>え</td>
                            <td>お</td>
                            <td>ん</td>
                        </tr>
                        <tr class="romaji">
                            <th>En alphabet latin:</th>
                            <td>A</td>
                            <td>I</td>
                            <td>U</td>
                            <td>E</td>
                            <td>O</td>
                            <td>N</td>
                        </tr>
                    </tbody>
                </table>
                <button onclick="nextTutorial('recap-table', 'recap-notes')">Suivant</button>
            </div>

            <div id="recap-notes" class="displayNone">
                <br /><h2>Note sur la prononciation à l'oral:</h2>
                <p>
                    Veuillez noter que les voyelles japonaises ne se prononcent pas comme en français.<br />
                </p>
                <p>
                    Le u japonais se prononce « ou ».<br />
                    Le e japonais se prononce soit « é » ou « è », dépendamment du contexte.<br />
                </p>
                <p>
                    Nous n'en prendront pas compte lors des exercices.<br />
                </p>
                <button onclick="nextTutorial('recap', 'questions', true)">Démarrer</button>
            </div>
        </div>
    </div>
</div>
