<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ha</h1>
    @{
        string[,] kanas = {
            { "は", "Ha", "https://upload.wikimedia.org/wikipedia/commons/4/43/Hiragana_%E3%81%AF_stroke_order_animation.gif" },
            { "ひ", "Hi", "https://upload.wikimedia.org/wikipedia/commons/4/40/Hiragana_%E3%81%B2_stroke_order_animation.gif" },
            { "ふ", "Fu", "https://upload.wikimedia.org/wikipedia/commons/1/1f/Hiragana_%E3%81%B5_stroke_order_animation.gif" },
            { "へ", "He", "https://upload.wikimedia.org/wikipedia/commons/4/40/Hiragana_%E3%81%B8_stroke_order_animation.gif" },
            { "ほ", "Ho", "https://upload.wikimedia.org/wikipedia/commons/9/96/Hiragana_%E3%81%BB_stroke_order_animation.gif" },
            };
        ViewData["kanas"] = kanas;
        <partial name="KanaTutorial.cshtml" view-data="ViewData" />
    }

    <div class="relative paddedForButton">
        <div id="recap" class="displayNone">
            <h2>En résumé</h2>
            <table>
                <tbody>
                    <tr class="kana">
                        <th></th>
                        <td>は</td>
                        <td>ひ</td>
                        <td>ふ</td>
                        <td>へ</td>
                        <td>ほ</td>
                    </tr>
                    <tr class="romaji">
                        <th>En alphabet latin:</th>
                        <td>Ha</td>
                        <td>Hi</td>
                        <td>Fu</td>
                        <td>He</td>
                        <td>Ho</td>
                    </tr>
                </tbody>
            </table>
            <button onclick="nextTutorial('recap', 'questions', true)">Démarrer</button>
        </div>

        <div id="tenten" class="displayNone">
            <h2>Le ten-ten</h2>
            <table>
                <tbody>
                    <tr class="kana">
                        <th></th>
                        <td>ば</td>
                        <td>び</td>
                        <td>ぶ</td>
                        <td>べ</td>
                        <td>ぼ</td>
                    </tr>
                    <tr class="romaji">
                        <th>En alphabet latin:</th>
                        <td>Ba</td>
                        <td>Bi</td>
                        <td>Bu</td>
                        <td>Be</td>
                        <td>Bo</td>
                    </tr>
                </tbody>
            </table>
            <button onclick="nextTutorial('tenten', 'questions', true)">Démarrer</button>
        </div>

        <div id="maru" class="displayNone">
            <h2>Le "maru"</h2>
            <table>
                <tbody>
                    <tr class="kana">
                        <th></th>
                        <td>ぱ</td>
                        <td>ぴ</td>
                        <td>ぷ</td>
                        <td>ぺ</td>
                        <td>ぽ</td>
                    </tr>
                    <tr class="romaji">
                        <th>En alphabet latin:</th>
                        <td>Pa</td>
                        <td>Pi</td>
                        <td>Pu</td>
                        <td>Pe</td>
                        <td>Po</td>
                    </tr>
                </tbody>
            </table>
            <button onclick="nextTutorial('maru', 'questions', true)">Démarrer</button>
        </div>
    </div>
</div>
