<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - Le 'ten ten'</h1>

    <div id="tutorial1" class="hiddenBox">
        <p>
            Voici les caractères à mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>が</td>
                    <td>ぎ</td>
                    <td>ぐ</td>
                    <td>げ</td>
                    <td>ご</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>ga</td>
                    <td>gi</td>
                    <td>gu</td>
                    <td>ge</td>
                    <td>go</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial1', 'tutorial2')">Suivant</button>
    </div>

    <div id="tutorial2" class="hiddenBox">
        <p>
            Nous commencerons désormais à utiliser les 'ten ten'.<br />
            Ces 2 traits, qui ressemblent à des guillements, changent la consonne légèrement.<br />
            En rajoutant les 'ten ten', le son 'ka' devient 'ga'.<br />
        </p>
        <p>
            Nous verrons plus tard comment 'sa' devient 'za', 'ta' devient 'da', et ainsi de suite .<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
