<div class="tutorialBox" id="tutorial">
    <h2 class="centered">Hiragana - Les voyelles</h2>
    <div id="tutorial1">
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>あ</td>
                    <td>い</td>
                    <td>う</td>
                    <td>え</td>
                    <td>お</td>
                    <td>ん</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>a</td>
                    <td>i</td>
                    <td>u</td>
                    <td>e</td>
                    <td>o</td>
                    <td>n</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial1', 'tutorial2')">Suivant</button>
    </div>
    <div id="tutorial2" class="displayNone">
        <p>
            Veuillez noter que les prononciations écrites ne sont pas françaises.<br />
        </p>
        <p>
            Le u japonais se prononce « ou ».<br />
            Le e japonais se prononce soit « è » ou « é », dépendamment du contexte.<br />
        </p>
        <p>
            Le but de cet exercice est seulement de reconnaître les hiraganas.<br />
            C’est pourquoi nous exigeons que vous écriviez les prononciations japonaises de chaque caractère, soit : <b>a, i, u, e, o.</b><br />
        </p>
        <p>
            Nous vous encourageons à pratiquer votre sens de la prononciation en vous immergeant dans la langue.<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
