<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ya</h1>
    @{
        string[,] kanas = {
            { "や", "Ya", "https://upload.wikimedia.org/wikipedia/commons/0/07/Hiragana_%E3%82%84_stroke_order_animation.gif" },
            { "ゆ", "Yu", "https://upload.wikimedia.org/wikipedia/commons/7/78/Hiragana_%E3%82%86_stroke_order_animation.gif" },
            { "よ", "Yo", "https://upload.wikimedia.org/wikipedia/commons/8/80/Hiragana_%E3%82%88_stroke_order_animation.gif" },
            };
        ViewData["kanas"] = kanas;
        <partial name="KanaTutorial.cshtml" view-data="ViewData" />
    }

    <div class="relative paddedForButton">
        <div id="recap" class="displayNone">
            <h2>En résumé</h2>
            <table>
                <tbody>
                    <tr class="kana">
                        <th></th>
                        <td>や</td>
                        <td></td>
                        <td>ゆ</td>
                        <td></td>
                        <td>よ</td>
                    </tr>
                    <tr class="romaji">
                        <th>En alphabet latin:</th>
                        <td>ya</td>
                        <td></td>
                        <td>yu</td>
                        <td></td>
                        <td>yo</td>
                    </tr>
                </tbody>
            </table>
            <button onclick="nextTutorial('recap', 'questions', true)">Démarrer</button>
        </div>

        <div id="combining-y" class="displayNone">
            <p>
                Cette série a une particularité très importante:<br />
                <br />
                Regardez les exemples suivants.<br />
                きゃ = kya<br />
                きゅ = kyu<br />
                きょ = kyo<br />
                <br />
                On peut mettre ces hiraganas en minuscule pour les combiner avec un son qui finit en i.<br />
                Il en sera ainsi pour toutes les autres consonnes suivies d'un i.<br />
            </p>
            <button onclick="nextTutorial('combining-y', 'questions', true)">Démarer</button>
        </div>
    </div>
</div>
