<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ka</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères à mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>か</td>
                    <td>き</td>
                    <td>く</td>
                    <td>け</td>
                    <td>こ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>ka</td>
                    <td>ki</td>
                    <td>ku</td>
                    <td>ke</td>
                    <td>ko</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial1', 'tutorial2')">Suivant</button>
    </div>
    <div id="tutorial2" class="displayNone"><br /><h2>Note sur la prononciation à l'oral:</h2>
        <p>
            En japonais, le son おう ne se prononce pas o-u, mais plutôt comme un o long.<br />
        </p>
        <p>
            Par exemple, la capitale du japon, とうきょう, s'écrit toukyou.<br />
            En français, on préfère cependant écrire Tokyo ou Tōkyō:<br />
            Comme le ō n'apparait pas sur la majorité des claviers, il n'est pas utilisé courrament.<br />
        </p>
        <p>
            De la même façon, えい se prononce comme un é long.<br />
            いい et うう se prononcent aussi comme des voyelles longues.<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
