<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ra</h1>
    @{
        string[,] kanas = {
            { "ら", "Ra", "https://upload.wikimedia.org/wikipedia/commons/6/6c/Hiragana_%E3%82%89_stroke_order_animation.gif" },
            { "り", "Ri", "https://upload.wikimedia.org/wikipedia/commons/9/9f/Hiragana_%E3%82%8A_stroke_order_animation.gif" },
            { "る", "Ru", "https://upload.wikimedia.org/wikipedia/commons/2/26/Hiragana_%E3%82%8B_stroke_order_animation.gif" },
            { "れ", "Re", "https://upload.wikimedia.org/wikipedia/commons/6/6c/Hiragana_%E3%82%8C_stroke_order_animation.gif" },
            { "ろ", "Ro", "https://upload.wikimedia.org/wikipedia/commons/3/35/Hiragana_%E3%82%8D_stroke_order_animation.gif" },
            };
        ViewData["kanas"] = kanas;
        <partial name="KanaTutorial.cshtml" view-data="ViewData" />
    }

    <div class="relative paddedForButton">
        <div id="recap" class="displayNone">
            <h2>En résumé</h2>
            <table>
                <tbody>
                    <tr class="kana">
                        <th></th>
                        <td>ら</td>
                        <td>り</td>
                        <td>る</td>
                        <td>れ</td>
                        <td>ろ</td>
                    </tr>
                    <tr class="romaji">
                        <th>En alphabet latin:</th>
                        <td>Ra</td>
                        <td>Ri</td>
                        <td>Ru</td>
                        <td>Re</td>
                        <td>Ro</td>
                    </tr>
                </tbody>
            </table>
            <button onclick="nextTutorial('recap', 'questions', true)">Démarrer</button>
        </div>
    </div>
</div>
