<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ra</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères à mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>ら</td>
                    <td>り</td>
                    <td>る</td>
                    <td>れ</td>
                    <td>ろ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>ra</td>
                    <td>ri</td>
                    <td>ru</td>
                    <td>re</td>
                    <td>ro</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial', 'questions')">Suivant</button>
    </div>
</div>
