<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Sa</h1>
    @{
        string[,] kanas = {
            { "さ", "Sa", "https://upload.wikimedia.org/wikipedia/commons/7/79/Hiragana_%E3%81%95_stroke_order_animation.gif" },
            { "し", "Shi", "https://upload.wikimedia.org/wikipedia/commons/a/a4/Hiragana_%E3%81%97_stroke_order_animation.gif" },
            { "す", "Su", "https://upload.wikimedia.org/wikipedia/commons/0/05/Hiragana_%E3%81%99_stroke_order_animation.gif" },
            { "せ", "Se", "https://upload.wikimedia.org/wikipedia/commons/7/7a/Hiragana_%E3%81%9B_stroke_order_animation.gif" },
            { "そ", "So", "https://upload.wikimedia.org/wikipedia/commons/5/5b/Hiragana_%E3%81%9D_stroke_order_animation.gif" },
            };
        ViewData["kanas"] = kanas;
        <partial name="KanaTutorial.cshtml" view-data="ViewData" />
    }

    <div id="recap" class="hiddenBox">
        <h2>En résumé</h2>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>さ</td>
                    <td>し</td>
                    <td>す</td>
                    <td>せ</td>
                    <td>そ</td>
                </tr>
                <tr class="romaji">
                    <th>En alphabet latin:</th>
                    <td>sa</td>
                    <td>shi</td>
                    <td>su</td>
                    <td>se</td>
                    <td>so</td>
                </tr>
                <tr></tr>
                <tr class="kana">
                    <th></th>
                    <td>ざ</td>
                    <td>じ</td>
                    <td>ず</td>
                    <td>ぜ</td>
                    <td>ぞ</td>
                </tr>
                <tr class="romaji">
                    <th>En alphabet latin:</th>
                    <td>za</td>
                    <td>ji</td>
                    <td>zu</td>
                    <td>ze</td>
                    <td>zo</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('recap', 'final-notes')">Suivant</button>
    </div>

    <div id="final-notes" class="hiddenBox">
        <p>
            Comme vous avez sûrement remarqué, il n'y a pas de son 'si' en japonais.<br />
            Vous pouvez tout de même écrire 'si' sur un clavier japonais, et le résultat sera し.<br />
            Cependant, すし se prononce 'sushi', et non 'susi'.<br />
        </p>
        <p>
            しゃ se prononce sha.<br />
            じゃ se prononce ja.<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
