<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ka</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères que nous essaierons de mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>か</td>
                    <td>き</td>
                    <td>く</td>
                    <td>け</td>
                    <td>こ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>ka</td>
                    <td>ki</td>
                    <td>ku</td>
                    <td>ke</td>
                    <td>ko</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial1', 'tutorial2')">Suivant</button>
    </div>
    <div id="tutorial2" class="displayNone">
        <p>
            Vous remarquerez que chaque caractère ici représente une consonne suivi d'une voyelle.<br />
            Il en sera ainsi pour tous les hiraganas que nous verrons à présent.<br />
        </p>
        <br /><h2>Note sur la prononciation à l'oral:</h2>
        <p>
            En japonais, le son おう ne se prononce pas o-u, mais plutôt comme un o long.<br />
            Certains préfèrent l'écrire ō<br />
            D'ailleurs, la ville Tokyo se prononce Tōkyō en japonais<br />
        </p>
        <p>
            De la même façon, えい se prononce comme un é long.<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
