<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ta</h1>
    @{
        string[,] kanas = {
        { "た", "Ta", "https://upload.wikimedia.org/wikipedia/commons/9/9a/Hiragana_%E3%81%9F_stroke_order_animation.gif" },
        { "ち", "Chi", "https://upload.wikimedia.org/wikipedia/commons/3/32/Hiragana_%E3%81%A1_stroke_order_animation.gif" },
        { "つ", "Tsu", "https://upload.wikimedia.org/wikipedia/commons/0/08/Hiragana_%E3%81%A4_stroke_order_animation.gif" },
        { "て", "Te", "https://upload.wikimedia.org/wikipedia/commons/1/15/Hiragana_%E3%81%A6_stroke_order_animation.gif" },
        { "と", "To", "https://upload.wikimedia.org/wikipedia/commons/6/6e/Hiragana_%E3%81%A8_stroke_order_animation.gif" },
            };
        ViewData["kanas"] = kanas;
        <partial name="KanaTutorial.cshtml" view-data="ViewData" />
    }

    <div class="relative paddedForButton">
        <div id="recap" class="displayNone">
            <div id="recap-table">
                <h2>En résumé</h2>
                <table>
                    <tbody>
                        <tr class="kana">
                            <th></th>
                            <td>た</td>
                            <td>ち</td>
                            <td>つ</td>
                            <td>て</td>
                            <td>と</td>
                        </tr>
                        <tr class="romaji">
                            <th>En alphabet latin:</th>
                            <td>Ta</td>
                            <td>Chi</td>
                            <td>Tsu</td>
                            <td>Te</td>
                            <td>To</td>
                        </tr>
                    </tbody>
                </table>
                <button onclick="nextTutorial('recap-table', 'recap-notes')">Suivant</button>
            </div>
            <div id="recap-notes" class="displayNone">
                <p>
                    Une fois de plus, nous avons des prononciations irrégulières.<br />
                    Ici 'chi' se prononce comme dans le mot 'cheese'.<br />
                    ちゃ se prononce 'cha', comme le mot 'channel' en anglais.<br />
                </p>
                <button onclick="nextTutorial('recap-notes', 'questions', true)">Démarrer</button>
            </div>
        </div>

        <div id="double-consonants" class="displayNone">
            <h2>Le petit っ</h2>
            <p>
                Le つ apparait parfois en minuscule.<br />
                Dans ce cas, il n'a pas de son. Cependant, il 'double' la prochaine consonne.<br />
                Par exemple, かっこう se prononce 'kakkou'.<br />
                てってい se prononce 'tettei'.<br />
            </p>
            <p>
                Lorsqu'on prononce un consonne doublée, on entend une petite 'pause' entre le deux sons.<br />
                En fait, il serait plus juste de dire que l'interlocuteur 'prépare' la prochaine consonne.<br />
                La bouche prend la forme du prochain son, mais on attend une fraction de seconde avant de le prononcer.<br />
            </p>
            <p>
                Nous vous conseillons bien entendu d'écouter du japonais pour bien comprendre ce phénomène.<br />
            </p>
            <button onclick="nextTutorial('double-consonants', 'questions', true)">Démarer</button>
        </div>

        <div id="tenten" class="displayNone">
            <h2>Le "ten-ten"</h2>
            <div id="tenten-main">
                <table>
                    <tbody>
                        <tr class="kana">
                            <th></th>
                            <td>だ</td>
                            <td>ぢ</td>
                            <td>づ</td>
                            <td>で</td>
                            <td>ど</td>
                        </tr>
                        <tr class="romaji">
                            <th>En alphabet latin:</th>
                            <td>Da</td>
                            <td>Dji</td>
                            <td>Dzu</td>
                            <td>De</td>
                            <td>Do</td>
                        </tr>
                    </tbody>
                </table>
                <button onclick="nextTutorial('tenten-main', 'tenten-notes')">Suivant</button>
            </div>
            <div id="tenten-notes" class="displayNone">
                <p>
                    Notez que ぢ et づ sont des exceptions plutôt rares.<br />
                    Dépendament du locuteur, ils sont parfois prononcés exactement comme じ et ず.<br />
                    Ils apparaissent dans des verbes commes ちぢむ et つづく.<br />
                </p>
                <button onclick="nextTutorial('tenten-notes', 'questions', true)">Démarrer</button>
            </div>
        </div>
    </div>
</div>
