<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Na</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères à mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>な</td>
                    <td>に</td>
                    <td>ぬ</td>
                    <td>ね</td>
                    <td>の</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>na</td>
                    <td>ni</td>
                    <td>nu</td>
                    <td>ne</td>
                    <td>no</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial', 'questions')">Suivant</button>
    </div>
</div>
