<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - Les voyelles</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères que nous essaierons de mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>あ</td>
                    <td>い</td>
                    <td>う</td>
                    <td>え</td>
                    <td>お</td>
                    <td>ん</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>a</td>
                    <td>i</td>
                    <td>u</td>
                    <td>e</td>
                    <td>o</td>
                    <td>n</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial1', 'tutorial2')">Suivant</button>
    </div>
    <div id="tutorial2" class="displayNone">
        <br /><h2>Note sur la prononciation à l'oral:</h2>
        <p>
            Veuillez noter que les voyelles japonaises ne se prononcent pas comme en français.<br />
        </p>
        <p>
            Le u japonais se prononce « ou ».<br />
            Le e japonais se prononce soit « é » ou « è », dépendamment du contexte.<br />
        </p>
        <p>
            Nous n'en prendront pas compte lors des exercices.<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
