<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ma</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères à mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>ま</td>
                    <td>み</td>
                    <td>む</td>
                    <td>め</td>
                    <td>も</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>ma</td>
                    <td>mi</td>
                    <td>mu</td>
                    <td>me</td>
                    <td>mo</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial', 'questions')">Suivant</button>
    </div>
</div>
