<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Ya</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères à mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>や</td>
                    <td></td>
                    <td>ゆ</td>
                    <td></td>
                    <td>よ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>ya</td>
                    <td></td>
                    <td>yu</td>
                    <td></td>
                    <td>yo</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial1', 'tutorial2')">Suivant</button>
    </div>
    <div id="tutorial2" class="displayNone">
        <p>
            Cette série a une particularité très importante:<br />
        </p>
        <p>
            Regardez les exemples suivants.<br />
            きゃ = kya<br />
            きゅ = kyu<br />
            きょ = kyo<br />
        </p>
        <p>
            On peut mettre ces hiraganas en minuscule pour les combiner avec un son qui finit en i.<br />
            きや se prononce 'kiya', mais きゃ se prononce 'kya'.<br />
            Il en sera ainsi pour toutes les autres consonnes suivies d'un i.<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
