<div class="tutorialBox" id="tutorial">
    <h1 class="centered">Hiragana - La série Sa</h1>
    <div id="tutorial1">
        <p>
            Voici les caractères à mémoriser lors de cet exercice:<br />
        </p>
        <table>
            <tbody>
                <tr class="kana">
                    <th></th>
                    <td>さ</td>
                    <td>し</td>
                    <td>す</td>
                    <td>せ</td>
                    <td>そ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>sa</td>
                    <td>shi</td>
                    <td>su</td>
                    <td>se</td>
                    <td>so</td>
                </tr>
                <tr></tr>
                <tr class="kana">
                    <th></th>
                    <td>ざ</td>
                    <td>じ</td>
                    <td>ず</td>
                    <td>ぜ</td>
                    <td>ぞ</td>
                </tr>
                <tr class="reading">
                    <th>En alphabet latin:</th>
                    <td>za</td>
                    <td>ji</td>
                    <td>zu</td>
                    <td>ze</td>
                    <td>zo</td>
                </tr>
            </tbody>
        </table>
        <button onclick="nextTutorial('tutorial1', 'tutorial2')">Suivant</button>
    </div>
    <div id="tutorial2" class="displayNone">
        <p>
            Comme vous avez sûrement remarqué, il n'y a pas de son 'si' en japonais.<br />
            Vous pouvez tout de même écrire 'si' sur un clavier japonais, et le résultat sera し.<br />
            Cependant, すし se prononce 'sushi', et non 'susi'.<br />
        </p>
        <p>
            しゃ se prononce sha.<br />
            じゃ se prononce ja.<br />
        </p>
        <button onclick="nextTutorial('tutorial', 'questions')">Démarer</button>
    </div>
</div>
